AI ML Assignment 1 (Basic Python)

Create two list and join those two list

In [ ]:
list_a = [1, 2, 3, 4]
list_b = ['a', 'b', 'c', 'd']

combined_list = list_a + list_b
print(combined_list)  # Output: [1, 2, 3, 4, 'a', 'b', 'c', 'd']

[1, 2, 3, 4, 'a', 'b', 'c', 'd']

With If statement find the even numbers

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = []

for num in numbers:
    if num % 2 == 0:  # If the remainder when divided by 2 is zero, then the number is even.
        even_numbers.append(num)

print(even_numbers)

[2, 4, 6, 8, 10]

Create a dictionary with 3 keys and 2 values for each key

In [ ]:
my_dict = {
    "key1": ["value1a", "value1b"],
    "key2": ["value2a", "value2b"],
    "key3": ["value3a", "value3b"]
}

print(my_dict)

{'key1': ['value1a', 'value1b'], 'key2': ['value2a', 'value2b'], 'key3': ['value3a', 'value3b']}

Create a function with If statement whis is used to find the odd numbers

In [ ]:
def find_odd_numbers(numbers):
    odd_numbers = []

    for num in numbers:
        if num % 2 != 0:  # If the remainder when divided by 2 is not zero, then the number is odd.
            odd_numbers.append(num)

    return odd_numbers

# Example usage:
numbers_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(find_odd_numbers(numbers_list))

[1, 3, 5, 7, 9]

Write a Python function to sum all the numbers in a list.

In [ ]:
def sum_numbers(numbers):
    total = 0
    for num in numbers:
        total += num
    return total

# Example usage:
numbers_list = [1, 2, 3, 4, 5]
print(sum_numbers(numbers_list))

15

Sample List : (8, 2, 3, 0, 7)


Expected Output : 20

In [ ]:
def sum_numbers(numbers):
    return sum(numbers)

# Example usage:
sample_list = (8, 2, 3, 0, 7)
print(sum_numbers(sample_list))

20